<footer>
  <div class="f-info">
    <div class="container">
      <div class="f-info-socials  my-3">
        <!-- form font awsome and square -->
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
      <div class="f-info-brand mb-3">&copy; WanderLust private Limited</div>
      <div class="f-info-links mb-3">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
      </div>
    </div>
  </div>
</footer>
